<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Fabricante</title>

     <link rel="stylesheet" href="styles/main.css">

</head>
<body>
        <header>
        <div class="links">
            <a href="/carAuto/create">Fabricante</a>
            <a href="/cars">Carros</a>
        </div>
    </header>
     <div class="card table-container">
    <a href="/carAuto/create">Novo</a>
       <table width="100%">
            <thead>
                <tr>
                    <th>Logo do Fabricante</th>
                     <th>Name Fabricante</th>
                </tr>
            </thead>    
                <tbody>
                
                    <tr>
                        <td><span style='background-image: url(https://seeklogo.com/images/V/volvo_black_and_white-logo-DE77307891-seeklogo.com.png);'></span></td>
                        <td>Volvo</td>
                    </tr>
                    <tr>
                        <td><span style='background-image: url(https://image.shutterstock.com/image-photo/frankfurt-sept-24-chevrolet-company-600w-85296106.jpg);'></span></td>
                        <td>Chevrolet</td>
                    </tr>
                        <tr>
                        <td><span style='background-image: url(https://image.shutterstock.com/image-photo/kiev-ukraine-march-21-2015-600w-267660191.jpg);'></span></td>
                        <td>Ford</td>
                    </tr>
            </tbody>
       </table>
    </div>
</body>
</html>

