<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Fabricante</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
        <header>
        <div class="links">
            <a href="/">Fabricante</a>
            <a href="/cars">Carros</a>
        </div>
    </header>
    <form class="card" method = "POST" action="/carAuto">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/2373621/500x500) no-repeat center center /cover "></section>
            <section class="details">
                <h3>Novo Fabricante</h3>
                 <div class="item">
                    <div>Fabricante URL</div>
                        <div>
                            <input type="url" name="fabricante_url" placeholder="Http://" >
                        </div>
                </div>

                   <div class="item">
                        <div>Nome do Fabricante</div>
                        <div>
                            <input type="text" name="name" placeholder="Nome do Fabricante" >
                        </div>
                    </div>
            <button type="submit">Salvar</button>
        </section>
        
   </form>
</body>
</html>